<h1>Eat-Da-Burger!</h1>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      <h3>{{> burgers/burgers-block}}</h3>
    {{/unless}}
  {{/each}}
</ul>

<form class="create-form">

  <div class="form-group">
    <input type="text" id="burgerName" name="name">
  </div>

  <button type="submit">Submit</button>
</form>
