<h1>Eat-Da-Burger!</h1>

<div class="list-o-burgers">
  <div class="undevoured-burgers">
    <h3>Burgers</h3>

    <ol>
      {{#each burgers}} {{#unless devoured}} {{> burgers/burger-block devour=true}} {{/unless}} {{/each}}
    </ol>
  </div>

  <div class="yummy-burger">
    <img src="assets/img/burger.png" alt="burger">
  </div>

  <div class="devoured-burgers">
    <h3>Devoured Burgers</h3>

    <ol>
      {{#each burgers}} {{#if devoured}} {{> burgers/burger-block devour=false}} {{/if}} {{/each}}
    </ol>
  </div>

</div>

<h3>Type the Burger You'd Like to Add Below!</h3>
<form class="create-form">

  <div class="form-group">
    <input type="text" id="burgerName" name="name">
  </div>

  <button type="submit" value="Submit">Submit</button>
</form>